{% extends '_base.html' %}

{% block title %}Home | {% endblock title %}

{% block content %}
<h2>Welcome back!</h2>
<h3>Main actions</h3>
<div class="link_box_list">
    <div class="link_box">
        <a href="/transactions/create">Record Transaction</a>
    </div>
</div>
<div class="link_box_list">
    <div class="link_box">
        <a href="/accounts/list">List Accounts</a>
    </div>
    <div class="link_box">
        <a href="/accounts/create">Create New Account</a>
    </div>
    <div class="link_box">
        <a href="/accounts/delete">Delete Accounts</a>
    </div>
</div>
<div class="link_box_list">
    <div class="link_box">
        <a href="/currencies/list">List Currencies</a>
    </div>
    <div class="link_box">
        <a href="/currencies/create">Create New Currency</a>
    </div>
    <div class="link_box">
        <a href="/currencies/delete">Delete Currency</a>
    </div>
</div>
<h3>Other stuff to do</h3>
<div>
    <p><a href="/logout">Alternatively, you could also log out?</a></p>
</div>
{% endblock content %}
