{% extends '_base.html' %}

{% block title %}Record Transaction | {% endblock title %}

{% block content %}
<h2>Record Transaction</h2>
<form method="post" action="/transactions/create">
    <label for="description">Description:</label>
    <input type="text" name="description" id="description" placeholder="grocery/shopping/education..." required />
    <br />
    <label for="credit_account">Credit Account:</label>
    <span id="credit_currency"></span>
    <select name="credit_account" id="credit_account" required>
        <option value="" data-currency="..." selected disabled>--Please choose--</option>
        {% for account in accounts %}
        <option value="{{ account.id }}" data-currency="{{ account.currency }}">{{ account.name }}</option>
        {% endfor %}
    </select>
    <br />
    <label for="credit_amount">Credit Amount:</label>
    <input type="number" name="credit_amount" id="credit_amount" step="0.01" min="0" required />
    <br />
    <label for="debit_account">Debit Account:</label>
    <span id="debit_currency"></span>
    <select name="debit_account" id="debit_account" required>
        <option value="" data-currency="..." selected disabled>--Please choose--</option>
        {% for account in accounts %}
        <option value="{{ account.id }}" data-currency="{{ account.currency }}">{{ account.name }}</option>
        {% endfor %}
    </select>
    <br />
    <div id="debit_amount_group">
        <label for="debit_amount">Debit Amount:</label>
        <input type="number" name="debit_amount" id="debit_amount" step="0.01" min="0" required />
        <br />
    </div>
    <button type="submit">Record</button>
</form>

<script>
  (function () {
    function getCurrency(account) {
      if (!account || account.selectedIndex < 0 ) {
        return "...";
      }
      var temp = account.options[account.selectedIndex].dataset.currency;
      console.log(temp)
      return temp;
    }

    function updateCurrencyDisplay(account, display) {
      display.textContent = getCurrency(account);
    }

    var creditAccount = document.getElementById("credit_account");
    var debitAccount = document.getElementById("debit_account");
    var creditDisplay = document.getElementById("credit_currency");
    var debitDisplay = document.getElementById("debit_currency");
    var debitAmountDisplay = document.getElementById("debit_amount_group");
    var debitAmountIntput = document.getElementById("debit_amount");

    updateCurrencyDisplay(creditAccount, creditDisplay);
    updateCurrencyDisplay(debitAccount, debitDisplay);

    creditAccount.addEventListener("change", () => updateCurrencyDisplay(creditAccount, creditDisplay));
    debitAccount.addEventListener("change", () => updateCurrencyDisplay(debitAccount, debitDisplay));

    function updateDebitAmountDisplay(creditAccount, debitAccount, display, input) {
      var creditCurrency = getCurrency(creditAccount);
      var debitCurrency = getCurrency(debitAccount);

      if ((creditCurrency === "...") || (debitCurrency === "...")) {
        display.style.display = "none";
        input.required = true;
      } else if (creditCurrency === debitCurrency) {
        display.style.display = "none";
        input.required = false;
      } else {
        display.style.display = "block";
        input.required = true;
      }
    }

    updateDebitAmountDisplay(creditAccount, debitAccount, debitAmountDisplay, debitAmountIntput);

    creditAccount.addEventListener("change", () => updateDebitAmountDisplay(creditAccount, debitAccount, debitAmountDisplay, debitAmountIntput));
    debitAccount.addEventListener("change", () => updateDebitAmountDisplay(creditAccount, debitAccount, debitAmountDisplay, debitAmountIntput));
  })();
</script>
{% endblock content %}
