{% extends '_base.html' %}

{% block title %}Delete Transaction | {% endblock title %}

{% block content %}
<h2>Delete Transaction</h2>
<form method="post" action="/transactions/delete">
    <input type="hidden" name="id" id="id" value="{{ transaction.id }}" />
    <p><b>Are you certain you wish to delete this transaction?</b></p>
    <p>
        <b>Description:</b> {{ transaction.description }}<br />
        <b>Date:</b> {{ transaction.time | truncate(length=10, end="") }}<br />
        <b>Credit Account:</b> {{ transaction.credit_account }}<br />
        <b>Credit Amount:</b> {{ transaction.credit_amount | round(method="ceil", precision=2) }}&nbsp;{{ transaction.credit_currency }}<br />
        <b>Debit Account:</b> {{ transaction.debit_account }}<br />
        <b>Debit Amount:</b> {{ transaction.debit_amount | round(method="ceil", precision=2) }}&nbsp;{{ transaction.debit_currency }}
    </p>
    <button type="submit">Permanently Delete</button>
</form>
{% endblock content %}
